mqtt:broker.url=tcp://192.168.1.52:1883
mqtt:broker.clientId=openhab
mqtt:broker.retain=true

security:option=EXTERNAL
security:netmask=255.255.255.0
ntp:hostname=ntp.nic.cz

persistence:default=mysql

folder:items=10,items
folder:sitemaps=10,sitemap
folder:rules=10,rules
folder:scripts=10,script
folder:persistence=10,persist

logging:pattern=%date{ISO8601} - %-25logger: %msg%n

############################ mySQL Persistence Service ##################################

# the database url like 'jdbc:mysql://<host>:<port>/<database>'
mysql:url=jdbc:mysql://127.0.0.1:3306/openhab

# the database user
mysql:user=openhab

# the database password
mysql:password=openhab
# the reconnection counter
mysql:reconnectCnt=10

# the connection timeout (in seconds)
mysql:waitTimeout=60

# optional tweaking of mysql datatypes
# example as described in https://github.com/openhab/openhab/issues/710
mysql:sqltype.string=VARCHAR(20000)

####################################################################################### 
#####                       Action configurations                                 #####
####################################################################################### 

######################## Mail Action configuration ####################################
#
# The SMTP server hostname, e.g. "smtp.gmail.com"
mail:hostname=smtp.gmail.com

# the SMTP port to use (optional, defaults to 25 (resp. 587 for TLS))
mail:port=25

# the username and password if the SMTP server requires authentication
mail:username=mr.datel@gmail.com
mail:password=mamchatuvestahlavicich12

# The email address to use for sending mails
mail:from=mr.datel@gmail.com

# set to "true", if TLS should be used for the connection
# (optional, defaults to false)
#mail:tls=

# set to "true", if POP before SMTP (another authentication mechanism)
# should be enabled. Username and Password are taken from the above
# configuration (optional, default to false)
#mail:popbeforesmtp=

############################## Astro Binding ##############################
#
# Your latitude
astro:latitude=49.660197

# Your longitude
astro:longitude=13.531559

# Refresh interval for some properties in seconds (optional, defaults to disabled)
astro:interval=60